<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form ng-app="" name="myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid email address</span>
    </form>
<p>Enter your email address in the input field. AngularJS will display an error Message if the address is not an email</p>

<script>

</script>

</body>
</html>