<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
    input.ng-invalid {
        background: palevioletred;
    }
    
    </style>
    
    <body>
<form ng-app="" name="myForm">
    Enter your name:
    <input name="myName" ng-model="myText" required>
    </form>
        <p>Edit the text field and it will get/lose CSS classes according to the status of the field(valid/invalid)</p>


<script>

</script>

</body>
</html>