<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<h1>Angular JS Expressions exmaple 2</h1>
    <div data-ng-app="" data-ng-init="quantity=1;cost=30;student={firstname:'Harold',lastname:'Abrams',rollno:101};marks=[80,82,87,91,74]">
    <!-- student is a javascript object which has 3 properties -->
    <p>Hello {{student.firstname+' '+student.lastName}}</p>
    <p>Expense on books:{{cost*quantity | currency}}</p>
    <p>Student ID: {{student.rollno}}</p>
    <p>Marks(Math): {{marks[2]}}</p>
        </div>
<script>

</script>

</body>
</html>