<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="" ng-init="quantity=1;price=5">
    <h2>Cost Calculator</h2>
    Quantity: <input type="number" ng-model="quantity">
    Price:<input type="number" ng-model="price">
    <p><strong>Total in dollars : {{ (quantity * price) | currency:"&euro;":3}}</strong></p>
    </div>


<script>

</script>

</body>
</html>