<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<h1>Angular JS ng-repeat example</h1>
    <div data-ng-app="myApp" data-ng-controller="namesCtrl">
    <ul>
    <li data-ng-repeat="x in names">
        {{x.name+' '+x.country}}
        
        </li>
    </ul>
</div>
<script>
angular.module('myApp',[]).controller('namesCtrl', function($scope){
    $scope.names=[{name:'Winnie the Poo', country:'England'},
                 {name:'Thor', country:'Norway'},
                 {name:'Gretel', country:'Australia'}];
})
</script>

</body>
</html>