<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        Name: <input ng-model="name">
    </div>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl', function($scope){
        $scope.name = "Luke Skywalker";
    });
    
</script>
<p>Using the ng-model directive to bind the value of the input field to a property made in the controller</p>
</body>
</html>