<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">
    Email:
    <input type="email" name="myAddress" ng-model="myText" required>
    <p> Edit the Email Address and try to change the status below</p>
    <h1>STATUS</h1>
    
    <!-- in agular you can output data from model with using ng-bind. Instead you can use expressions. Something like this {{some value to output}} -->
    <p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all the criteria)</p>
    <p>Dirty:  {{myForm.myAddress.$dirty}} (if true, the value has been changed)</p>
    <p>Touched:  {{myForm.myAddress.$touched}} (if true, the field has been in focus)</p>
    
    </form>
    

<script>

</script>

</body>
</html>