<!DOCTYPE html>
<html>
    <head>
        
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
       
   
    <script type="text/javascript" "classex.js"></script>
   
    <style>
      input.ng-invalid.ng-touched {
            background: pink;
      }
      input.ng-valid.ng-touched {
            background: lightgreen;
      }
      select.ng-invalid {
            background: pink;
      } 
</style>
    </head>
    
    <body ng-app="myApp">
    <div class="container">
         <h1>CG Law LLP</h1>
    <div class="panel panel-default">
    
       
   <div class="panel-body">
     <form class="form-horizontal" role="form" name="myForm">
         
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name</label>
    <div class="col-sm-3">
      <input type="name" class="form-control" id="name" placeholder="Enter name" ng-model="name" required ng-MinLength=7 ng-MaxLenth=10 tooltip="Invalid name !!">
    </div>
  </div>
         
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-3"> 
      <input type="email" class="form-control" id="email" placeholder="eg., abc@xyz.com" ng-model="email" required>
    </div>
  </div>
         
     <div class="form-group">
    <label class="control-label col-sm-2" for="phone" ng-model="name">Phone:</label>
    <div class="col-sm-3"> 
      <input type="phone" class="form-control" id="phone" placeholder="eg., ###-###-####" ng-model="phone" required>
    </div>
  </div>
         
     <div class="form-group" >
    <label class="control-label col-sm-2" for="province">Province:</label>
    <div class="col-sm-2" ng-app="drpdwnApp" ng-controller="drpdwnCtrl"> 
        <select class="form-control" required>
       <option ng-repeat="x in availableOptions" value="{{x.id}}">{{x.name}}</option>
        </select>
    </div>
  </div>
         
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
        </div>
        </div>
        </div>
        <tt>
        myForm.input.$touched = {{myForm.$valid}}
        </tt>
      
<script>

        angular.module('myApp', []).controller('drpdwnCtrl', function($scope){
                $scope.availableOptions= 
       [{id:'0', name:'-Select-'},  
      {id: '1', name: 'Ontario'},
      {id: '2', name: 'Quebec'},
      {id: '3', name: 'Nova Scotia'},
      {id: '4', name: 'New Brunswick'},
      {id: '5', name: 'Manitoba'},
      {id: '6', name: 'British Columbia'},
      {id: '7', name: 'Prince Edward Island'},
      {id: '8', name: 'Saskatchewan'},
      {id: '9', name: 'Alberta'},
      {id: '10', name: 'Newfoundland and Labrador'}
    ];
 
 
     
});
    
 
    
    </script>
    </body>
  

</html>